*{padding:0;margin:0;border:none}*,::after,::before{box-sizing:border-box}a,a:hover,a:link,a:visited{text-decoration:none}aside,footer,header,legend,main,nav,section{display:block}h1,h2,h3,h4,h5,h6,p{font-size:inherit;font-weight:inherit}ul,ul li{list-style:none}img{vertical-align:top}img,svg{max-width:100%;height:auto}address{font-style:normal}button,input,select,textarea{font-family:inherit;font-size:inherit;color:inherit;background-color:transparent}input::-ms-clear{display:none}button,input[type=submit]{display:inline-block;box-shadow:none;background:0 0;cursor:pointer}button:active,button:focus,input:active,input:focus{outline:0}button::-moz-focus-inner{padding:0;border:0}label{cursor:pointer}

:root {
    --primary: #B54CDB;
    --text: #000;
    --secondary: #70E256;
    --pale: #F5FCFF;
}

._container{
    width:100%;
    margin:80px auto;
    position: relative;
    max-width: 100%;
    padding: 0 15px;
}

._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
._ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    object-fit: cover;
    object-position: center
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:var(--text);
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: #fff;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #7A7674;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #fff;  /* padding вокруг плашки */
}

a{
    color: var(--primary);
    transition: text-decoration .2s linear;
}
a:hover{
    text-decoration: underline;
}
a.btn{
    display: block;
}
a.btn:hover{
    text-decoration: none;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--pale);
}
.title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn{
    padding:12px 24px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--pale);
    font-weight: 500;
    border:1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary);
    box-shadow: 0px 0px 10px 6px rgba(254,94,0,.2);
    color: #fff;
    transition: all .2s linear;
}
.btn-primary:hover{
    background-color: var(--pale);
    color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary{
    background-color: #fff;
    box-shadow: unset;
    color: var(--primary);
    border:1px solid var(--primary)
}
.btn-delete{
    border-color:#DC3545;
    color:#DC3545;
    background-color: #fff;
}
.btn-delete.card__delete{
    position: static;
    width:unset; height:unset;
    top:unset;left:unset;
    opacity: 1;
}
.btn-delete--icon{
    border:0px;
    width: 22px;
    height: 100%;
    right: 10px;
    top: 10px;
    opacity: .5;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.btn-delete--icon:hover{
    opacity: 1;
}
.btn-delete--icon:hover img{
    filter: invert(32%) sepia(92%) saturate(1116%) hue-rotate(323deg) brightness(85%) contrast(105%);
}
.w75px{
    width:75px;
}
.w100px{
    width:100px;
}
.w125px{
    width:125px;
}
.w150px{
    width:150px;
}
.w200px{
    width:200px;
}
.w300px{
    width:300px;
}
.form{
    max-width:580px;
    background-color: #fff;
    border-radius: 20px;
    padding:30px 40px 50px 40px;
    flex: 1 1 auto;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}
label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05) ;
    padding: 15px 30px;
    margin-bottom: 7px;
}
.input:focus{
    box-shadow: 0px 0px 10px 6px rgba(254,94,0,.2);
}
.input::placeholder{
    color: rgba(0, 0, 0, .2);
}
.error{
    font-size: 12px;
    font-weight: 300;
    color:red;
}
.form-addit{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
}
.input-file {
    position: relative;
    display: flex!important;
    align-items: center;
    padding-left: 20px;
}
.input-file::before{
    content:"";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/download-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.input-file input{
    display: none;
}
.notification{
    padding:30px 20px;
    box-shadow: 0px 0px 10px 6px rgba(254,94,0,.2);
    background-color: #fff;
    border-radius: 10px;
    right: 20px;bottom: 40px;
    position: fixed;
    max-width: 400px;
    z-index: 9999;
}
.notification__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
}
.notification__text{
    font-size: 18px;
    font-weight: 500;
}
.notification.error{
    color: rgb(175,0,42);
    box-shadow: 0px 0px 10px 6px rgba(175,0,42,.2);
}
.notification.success{
    color: rgb(80,200,120);
    box-shadow: 0px 0px 10px 6px rgba(80,200,120,.2);
}
.form-stat{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
    margin-bottom: 15px;
}
.form-stat.fill{
    box-shadow:0px 0px 10px 6px rgba(254,94,0,.2);
}
.form-stat__title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.form-stat__title::after{
    content:"";
    width: 18px; height: 18px;
    background-image: url('../img/arrow-alt.svg');
    background-position: center;
    background-size: contain;
    transition: transform .1s linear;
}
.form-stat__row{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 10px;
}
.form-stat__row label{
    font-size: 14px;
}
.form-stat__row>.form-group{
    width:calc(50% - 4px);
}
.form-stat__content{
    height: 0;
    overflow: hidden;
}
.form-stat.active .form-stat__content{
    height: 100% !important;
}
.form-stat.active .form-stat__title{
    margin-bottom: 20px;
}
.form-stat.active .form-stat__title::after{
    transform: rotate(180deg);
}


.header {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.header__container {
    margin: 0 auto;
    max-width: unset;
}
.header__body {
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
}
.header__title{
    font-size: 20px;
    font-weight: 600;
}
.header__menu-btn{
    display: flex;
    align-items: center;
    margin-left: 24px;
    cursor:pointer
}
.header__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.burger{
    width: 25px;
    display: none;
}
.burger-menu {
    right:-100%;
    position: fixed;
    background-color: #fff;
    height: 100%;
    padding:25px;
    max-width: 300px;
    z-index: 1;
    transition: right .2s linear;
}
.burger-menu.opened{
    right:0;
}
.burger-menu__body {
    padding-top: 30px;
}
.nav-burger {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}
.nav-burger__link {

}
.nav__link-img{
    width: 25px;height: 25px;
    padding: 3px;
    border-radius: 5px;
    opacity:.6
}
.burger-menu__profile {
    margin-bottom: 30px;
}
.burger-menu__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px; top: 15px;
}
.header__logo-w {
    margin-right: 15vw;
}
.logo__logo{
    width: 120px;
}
.header__nav {
    margin-right: auto;
}
.nav__items {
}
.nav__link {
    color:#fff;
    font-weight: 400;
    display: flex;
    gap:4px;
    font-size: 12px;
    align-items: center;
    padding: 10px;
}
.nav__link:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, .15);
}
.nav__link.active {
    background-color: rgba(255, 255, 255, .15);
}
.nav__link.active .nav__link-img{
    filter: brightness(0) saturate(100%) invert(49%) sepia(66%) saturate(3795%) hue-rotate(358deg) brightness(96%) contrast(113%);
    opacity: 1;
}
.header__profile-w {
    background-color: var(--pale);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.header__profile-w:hover{
    text-decoration: none;
}
.header__profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.header__profile-name{
    font-size: 12px;
    color: rgba(0,0,0, .4);
}

.input-checkbox-w {
    padding:15px 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}
.input-checkbox-w label{
    margin-bottom: 0;
    display: block;
}
.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}


.filter {
    background-color: #fff;
    border-radius: 20px;
    padding:20px 30px;
    transition: left .2s linear;
    z-index: 1;
}
.filter__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.filter__title {
    font-size: 18px;
    font-weight: 500;
}
.blogers-list__filter {
    flex:1 1 auto;
    max-width: 380px;
    border-radius:0;
}
.blogers-list__filter.opened{
    left:0px;
}
.input-range-content{
    display: flex;
    justify-content: space-between;
}
.input-range-content .input-number{
    width:125px;
    padding:15px 10px
}
.filter__item--sex{
    display: flex;
}
.filter__item--sex .input-checkbox-w{
    background-color: #fff;
    padding-left:0;
}
.input-range {
    width: 100%;
}
.popup__form .btn{
    margin-top: 15px;
}

.tab-content {
    display: none;
}
.tab-content.active{
    display: block;
}


.admin-view {
    height: 100%;
}
.admin-view__container {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    height: 100%;
    display: flex;
}
.admin-view__container.active-menu .admin-menu{
    width: 100%;
    opacity: 1;
}
.admin-view__container.active-menu .admin-view__content{
    margin-left: 185px;
    padding-left: 15px;
}
.admin-view__body {
    height: 100%;
    display: flex;
    width: 100%;
}
.admin-menu {
    top: 46px;
    left: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    padding: 20px 0 0 0;
    position: fixed;
    height: 100vh;
    max-width: 185px;
    background-color: #2F353A;
    z-index: 1;
    transition: opacity .2s linear
}
.admin-menu__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}
.nav {
}
.admin-menu__nav {
}
.admin-menu__nav .nav__items {
    display: flex;
    flex-direction: column;
}
.admin-view__content {
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 10px;
    height: 100%;
    flex: 1 1 auto;
    transition:margin-left .1s linear;
    position: relative;
}
.admin-view__content-wrap{
    padding: 10px 15px;
    background-color: #fff;
}
.admin-blogers {
}
.admin-blogers__body {
    height: 100%;
}
.admin-blogers__header {
}
.admin-blogers__title {
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
}
.admin-blogers__search {
    display: flex;
    max-width:580px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.admin-blogers__search .input{
    margin-bottom: 0;
    flex: 1 1 auto;
}
.admin-blogers__blogers {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.admin-blogers__blogers-item {
}
.admin-bloger {
    width:calc(100% / 3 - 20px);
    padding:20px;
    border-radius: 10px;
    background-color: #fff;
    min-width:370px;
}
.admin-bloger__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.admin-bloger__img{
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
}
.admin-bloger__info{
    width: 100%;
}
.admin-bloger__info-item {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 3px;
}
.admin-bloger__btns {
    display: flex;
    gap: 8px;
}
.admin-bloger__row{
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
    align-items: center;
}
.admin-bloger__col{
    display: flex;
    flex-direction: column;
}
.btn-danger {
    background-color: #DC3545;
}
.btn-warning {
    background-color: #FFC107;
}

.list-blogers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.card {
    padding:10px 15px;
    background-color: #fff;
    border-radius: 10px;
    width: calc(100% / 3 - 5px);
    max-width: 370px;
    min-width: 345px;
    border:1px solid rgba(0,0,0,.1);
    position: relative;
}
.seller-item{
    max-width: 345px;
    min-width: 320px;
    flex: 1 1 auto;
}
.card__content {
    gap: 12px;
    flex-direction: column;
    height: 100%;
}
.card__col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card__row {
    display: flex;
}
.card__header {
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.card__img {
    width:50px; height:50px;
    position: relative;
    margin-right: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 5px;
}
.card__img img{
    border-radius: 5px;
    max-width: 50px;
}
.blogger-item__achives{
    display: flex;
    background-color: #F5FCFF;
    border-radius: 6px;
    padding: 6px 10px;
    gap: 5px;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    transition: all .2s linear;
    height: 37px;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: start;
}
.blogger-popup__body .blogger-item__achives{
    margin-bottom: 18px;
}
.blogger-item__achives::after{
    content:"";
    width: 14px;
    height: 25px;
    background-image: url("/img/arrow-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transform: rotate(-90deg);
    opacity: .5;
    transition: all .2s linear;
    position: absolute;
    right: 5px;
}
.blogger-item__achives-title{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    line-height: 1.81;
}
.blogger-item__achives-icons{
    display: flex;
    cursor:pointer;
    transition: all .2s linear;
}
.card__achive {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: var(--primary);
    width: 25px;
    height: 25px;
    padding: 0 !important;
    position: relative;
    z-index: 1;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__achive:not(:first-child){
    margin-left: -8px;
}
.card__achive img{
    width: 17px;
}
.card__header-achives{
    position: absolute;
    left:-3%;
    top:-5px;
    display:flex;
}
.blogger-item__achives-items{
    display: flex;
    gap: 6px;
    flex-direction: column;
    opacity: 0;
    transition: all .2s linear;
    width: 100%;
}
.blogger-achives__item{
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 3px;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    padding: 4px;
    border: 1px solid rgba(62, 66, 77, .07);
    width: 0;
    overflow: hidden;
}
.blogger-achives__item-icon {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: var(--primary);
    width: 23px;
    height: 23px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all .2s linear;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}


.blogger-item__achives.opened:not(.single-achive){
    animation-name: bloggerAchivesOpen;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.blogger-item__achives.opened::after{
    transform: rotate(0deg);
    margin-left: auto;
}
.blogger-item__achives.opened .blogger-item__achives-icons{
}
.blogger-item__achives.opened .card__achive{
    opacity: 0;
    margin-left: 0;
}
.blogger-item__achives.opened .blogger-item__achives-items{
    opacity: 1;
}
.blogger-item__achives.opened .blogger-achives__item{
    width: -moz-fit-content;
    width: fit-content;
}

.blogger-popup__body .blogger-item__achives{
    margin-bottom: 18px;
}
.blogger-popup__body .blogger-item__achives.opened{
    width: 145px!important;
    margin-left: 11%;
}

@keyframes bloggerAchivesOpen {
    0%{
        width: -moz-fit-content;
        width: fit-content;
        height: 37px;
    }
    50%{
        width: 100%;
        height: 37px;
    }
    100% {
        height: 120px;
        width: 100%;
    }
}
.card__name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__name-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__name-tag {
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}
.card__name-desc{
    font-size: 14px;
    margin-top: 8px;
}
.card__platforms{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-left: auto;
    margin-top: 12px;
    width:70px;
    justify-content: end;
}
.card__platform {
    width: 20px; height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 15px;
    margin-bottom: 12px;
}
.card__tags-item {
    border-radius: 5px;
    background-color: var(--pale);
    padding:8px;
    font-size: 12px;
    color:rgba(0, 0, 0, .6);
    position: relative;
}
.card__tags-item.card__tags-item--others {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.card__tags-item .card__tags-item-w{
    display: none;
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    flex-wrap: wrap;
    gap: 8px;
    position: absolute;
    top:calc(100% + 1px); left:0;
    width: 300px;
}
.card__tags-item:hover .card__tags-item-w{
    display: flex;
}
.card__desc {
    max-width: 450px;
    margin-bottom: 20px;
    font-size: 16px;
}
.card__row--desktop {
}
.card__btns--mobile {
    display: none;
}
.card__stats {
    gap: 30px;
    margin-top: auto;
}
.card__stats-stats{
    gap: 20px;
}
.card__stats-row{
    gap: 8px;
}
.btn-bloggers.tablet{
    display: none;
}
.card__stats-item {
    width: calc(50% - 20px);
    /* height: 60px; */
    gap: 12px;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}
.card__stats-title {
    line-height: 1.1;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
}
.card__stats-val {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    line-height: 1;
    text-wrap: nowrap;
}
.card__stats-val span{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__stats-val span{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__stats-val .card__stats-val--total {
    position: relative;
    color: #FE5E00;
    border-radius: 50%;
    border: 1px solid #FE5E00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    line-height: 1;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.card__stats-val .card__stats-val--total .card__stats-val--total-list {
    position: absolute;
    top:101%; left:0;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    display: none;
    flex-direction: column;
    gap: 6px;
    width:260px;z-index: 1;
}
.card__stats-val .card__stats-val--total:hover .card__stats-val--total-list {
    display: flex;
}
.card__stats-val.card__stats-val--rait::before{
    content:"";
    display: block;
    background-image: url("../img/star-contur-icon.svg");
    width: 100%;height: 20px;max-width:20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(48%) sepia(81%) saturate(4313%) hue-rotate(2deg) brightness(103%) contrast(104%);
}
.card__stats-val.card__stats-val--feedback::before{
    content:"";
    display: block;
    background-image: url("../img/chat-icon.svg");
    width: 100%;height: 20px;max-width:20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(48%) sepia(81%) saturate(4313%) hue-rotate(2deg) brightness(103%) contrast(104%);
}
.card__stats-val{
    position: relative;
}

.stats-tooltip{
    position: absolute;
    top:calc(100% + 10px);
    width: 150px;
    padding:10px;
    border-radius: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    background-color: #fff;
    display: none;
}
.card__stats-val--empty{
    cursor:pointer
}
.card__stats-val--empty:hover .stats-tooltip{
    display: block;
}
.card__diagram-line {
    background-color: #fba3f7;
    border-radius: 10px;
    height: 4px;
    margin-bottom: 2px;
    overflow: hidden;
    width: 100%;
}
.card__diagram-line span{
    background-color: #4480FE;
    display: block;
    height: 4px;
    width: 21%;
}
.card__diagram-icon{
    width: 18px;height: 18px;
}
.card__column--gender{
    gap: 12px;
}
.card-btns-mobile{
    display: none;
}
.card__delete{
    position: absolute;
    width:22px; height: 22px;
    right:10px; top:10px;
    opacity: .5;
    cursor: pointer;
}
.card__delete:hover{
    opacity: 1;
    filter: invert(18%) sepia(97%) saturate(2286%) hue-rotate(338deg) brightness(114%) contrast(82%);
}


.fade-enter-active {
    animation: simpleShow .4s normal forwards;
    animation-delay: 0s;
}
.fade-leave-to {
    animation: simpleFade .4s normal forwards;
    animation-delay: 0s;
}
@keyframes simpleShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes simpleFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.popup {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    display: flex;
}
.popup__container {
    display: flex;
    justify-content: center;
    align-items: start;
}
.popup__body {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding:20px 30px;
    max-width: 680px;
    width: 100%;
}
.popup__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}
.user-view .popup__title{
    text-align: center;
}
.popup__header .popup__title {
    margin-bottom: 12px;

}
.popup__form-btns{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.close-popup {
    position: absolute;
    right:15px;top:15px;
    cursor: pointer;

}
.achivments-form{

}
.achivments-form__items{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding:20px 0;
}
.achivments-form__item{
    padding:10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--secondary);
    cursor:pointer
}
.achivments-form__item:hover{
    background-color: var(--pale);
}
.achivments-form__item.active{
    background-color: var(--primary);
    color:#fff;
}
.textarea{
    width:100%;
    height:160px;
    resize:none;
    padding:10px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.popup__body:has(.user-view){
    max-width: 1040px!important;
    width: 100%;
    padding-bottom: 75px;
}
.user-view__container{
}
.info-profile__body{
    display: flex;
    gap: 35px;
    padding-top: 18px;
}
.info-profile__platforms-footer--mobile{
    display:none
}
.info-profile__row{
    display: flex;
    gap: 12px;
}
.info-profile__img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.info-profile__name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}
.info-profile__id{
    font-size: 14px;
    color:rgba(0, 0, 0, .4)
}
.info-profile__tags{
    flex-direction: column;
}
.info-profile__tags-title{
    font-size: 18px;
    font-weight: 500;
}
.info-profile__tags-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 12px;
    font-weight: 500;
}
.info-profile__tags-item{
    padding: 8px;
    background-color: var(--primary);
    color:#fff;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
}
.info-profile__desc{
    font-size: 18px;
    font-weight: 400;
    max-width: 625px;
}
.user-view__projects:not(:last-child){
    margin-bottom: 35px;
}
.user-view .btn{
    text-align: center;
}
.user-view .profile-projects__title{
    font-size: 24px;
}
.user-view .profile-projects__body{
    max-width:unset
}
.user-view__info{
    margin-bottom: 35px;
}
.user-view__back{
    border-radius: 10px;
    padding:15px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color:var(--primary);
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    z-index: 2;
    position: relative;
    text-decoration: underline;
    margin-bottom: 30px;
    cursor:pointer
}
.user-view__back img{
    filter: brightness(0) saturate(100%) invert(50%) sepia(74%) saturate(4903%) hue-rotate(2deg) brightness(104%) contrast(105%);
    transform: rotate(90deg);
    width: 12px; height: 12px;
}
.info-profile__info{
    margin-bottom: 24px;
}
.blogger-platforms{
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
}
.blogger-platforms__body{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.blogger-platforms__header{
    display: flex;
}
.blogger-platforms__btn{
    padding: 8px 16px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F5FCFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}
.blogger-platforms__btn img{
    width: 24px;
    height: 24px;
    transition: all .2s linear;
}
.blogger-platforms__btn.active img{
    filter: brightness(0) invert(1);
}

.item-platforms{
    padding: 15px;
    background-color: var(--pale);
    border-radius: 0 10px 10px 10px;
    transition: all .2s linear;
    flex: 1 1 auto;
    max-width: 515px;
    opacity: 0;
    display: none;
    border: 1px solid unset;
}

.blogger-platforms__btn--inst.active{
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.blogger-platforms:has(.blogger-platforms__btn--inst.active) .item-platforms.inst{
    display: block;
    opacity: 1;
    border: 1px solid #bc1888;
}
.blogger-platforms:has(.blogger-platforms__btn--inst.active) .item-platforms.inst .item-platforms__stat-value{
    color:#bc1888;
}
.blogger-platforms:has(.blogger-platforms__btn--inst.active) .item-platforms.inst .item-platforms__title{
    color:#bc1888;
}

.blogger-platforms__btn--vk.active{
    background: #5281B8;
}
.blogger-platforms__btn--vk.active img{
    filter:unset
}
.blogger-platforms:has(.blogger-platforms__btn--vk.active) .item-platforms.vk{
    display: block;
    opacity: 1;
    border: 1px solid #5281B8;
}
.blogger-platforms:has(.blogger-platforms__btn--vk.active) .item-platforms.vk .item-platforms__stat-value{
    color:#5281B8;
}
.blogger-platforms:has(.blogger-platforms__btn--vk.active) .item-platforms.vk .item-platforms__title{
    color:#5281B8;
}

.blogger-platforms__btn--yt.active{
    background: #FF0000;
}
.blogger-platforms:has(.blogger-platforms__btn--yt.active) .item-platforms.yt{
    display: block;
    opacity: 1;
    border: 1px solid #FF0000;
}
.blogger-platforms:has(.blogger-platforms__btn--yt.active) .item-platforms.yt .item-platforms__stat-value{
    color:#FF0000;
}
.blogger-platforms:has(.blogger-platforms__btn--yt.active) .item-platforms.yt .item-platforms__title{
    color:#FF0000;
}

.blogger-platforms__btn--tg.active{
    background: #1D94CF;
}
.blogger-platforms:has(.blogger-platforms__btn--tg.active) .item-platforms.tg{
    display: block;
    opacity: 1;
    border: 1px solid #1D94CF;
}
.blogger-platforms:has(.blogger-platforms__btn--tg.active) .item-platforms.tg .item-platforms__stat-value{
    color:#1D94CF;
}
.blogger-platforms:has(.blogger-platforms__btn--tg.active) .item-platforms.tg .item-platforms__title{
    color:#1D94CF;
}

.blogger-platforms__btn--dzen.active{
    background: #000;
}
.blogger-platforms:has(.blogger-platforms__btn--dzen.active) .item-platforms.dzen{
    display: block;
    opacity: 1;
    border: 1px solid #000;
}
.blogger-platforms:has(.blogger-platforms__btn--dzen.active) .item-platforms.dzen .item-platforms__stat-value{
    color:#000;
}
.blogger-platforms:has(.blogger-platforms__btn--dzen.active) .item-platforms.dzen .item-platforms__title{
    color:#000;
}

.blogger-platforms__btn--yappy.active{
    background: #00E2B8;
}
.blogger-platforms__btn--yappy.active img{
    filter:unset;
}
.blogger-platforms:has(.blogger-platforms__btn--yappy.active) .item-platforms.yappy{
    display: block;
    opacity: 1;
    border: 1px solid #00E2B8;
}
.blogger-platforms:has(.blogger-platforms__btn--yappy.active) .item-platforms.yappy .item-platforms__stat-value{
    color: #00E2B8;
}
.blogger-platforms:has(.blogger-platforms__btn--yappy.active) .item-platforms.yappy .item-platforms__title{
    color: #00E2B8;
}

.blogger-platforms__btn--rutube.active{
    background: #0B1D38;
}
.blogger-platforms__btn--rutube.active img{
    filter:unset;
}
.blogger-platforms:has(.blogger-platforms__btn--rutube.active) .item-platforms.rutube{
    display: block;
    opacity: 1;
    border: 1px solid #0B1D38;
}
.blogger-platforms:has(.blogger-platforms__btn--rutube.active) .item-platforms.rutube .item-platforms__stat-value{
    color: #0B1D38;
}
.blogger-platforms:has(.blogger-platforms__btn--rutube.active) .item-platforms.rutube .item-platforms__title{
    color: #0B1D38;
}

.blogger-platforms__btn--ok.active{
    background: #EE8208;
}
.blogger-platforms__btn--ok.active img{
    filter:unset;
}
.blogger-platforms:has(.blogger-platforms__btn--ok.active) .item-platforms.ok{
    display: block;
    opacity: 1;
    border: 1px solid #EE8208;
}
.blogger-platforms:has(.blogger-platforms__btn--ok.active) .item-platforms.ok .item-platforms__stat-value{
    color: #EE8208;
}
.blogger-platforms:has(.blogger-platforms__btn--ok.active) .item-platforms.ok .item-platforms__title{
    color: #EE8208;
}

.item-platforms__title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    gap: 3px;
}

.item-platforms__stats{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    flex: 1 1 auto;
    flex-direction: column;
}

.item-platforms:hover{
    box-shadow: 0px 0px 10px 6px rgba(181,76,219,.1);
}
.item-platforms__stats-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 3px;
}
.item-platforms__stats-row > *{
}
.item-platforms__stat.er{
    width: 85px;
}
.item-platforms__stat{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.item-platforms__stat:hover{
}
.item-platforms__stat-title{
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}
.item-platforms__stat-value{
    font-weight: 700;
    color:var(--primary);
    font-size: 18px;
}
.info-profile__left{
    flex: 1 1 auto;
}
.info-profile__right{
    width: 100%;
    max-width:387px;
    position: relative;
}
.info-profile__content{
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 570px;
}


.info-profile__tabs{
    display: flex;
    gap: 5px;
    margin-bottom: 12px;
}
.info-profile__tab{
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    color:inherit;
    transition: all .2s linear;
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
}
.info-profile__tab.current{
    background-color: var(--primary);
    color:#fff;
}

.info-profile__projects--empty,
.info-profile__videos--empty{
    background-color: rgba(0,0,0,.1);
    border-radius: 8px;
    height:100%;
}
.info-profile__projects--empty,
.info-profile__videos--empty{
    display: flex!important;
    justify-content: center;
    align-items: center;
    color:rgba(0,0,0,.4);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.info-profile__projects--empty::after{
    content:"Выполненные проекты отсутствуют"
}
.info-profile__videos--empty::after{
    content:"Контент отсутствует"
}
.info-profile__projects .owl-nav,
.info-profile__videos .owl-nav{
    top: calc(100% + 12px);
    justify-content: center;
    gap: 12px;
}
.info-profile__projects .owl-nav button,
.info-profile__videos .owl-nav button{
    font-size: 18px!important;
    width: 32px!important;
    height: 32px!important;
}
.info-profile__content-item{
    height: 570px;
}
.info-profile__content-item video{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 12px;
    pointer-events: none;
}
.info-profile__projects-item.project-item{
    width: 100% !important;
    padding: 5px;
}
.info-profile__projects .owl-stage{

}
.info-profile__projects .owl-item {
}
.info-profile__projects-item.project-item .project-item__img{
    padding-top: 331px;
}
.card__btns{
    gap: 8px;
}
.card__btns .btn{
    padding: 12px;
}


/* PAYMENT */
.payment-history__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-history__row {
    padding:15px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.1);
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.payment-history__row-title {
    flex: 0 0 250px
}
.payment-history__row span {
    display: block;
    color: #727887;
    font-size: 14px;
    margin: 2px 0 5px;
}
.payment-history__row strong {
    font-size: 18px;
}
.payment-history__row-title span{
    font-size: 20px;
    font-weight: 700;
    display: block;
    color:#000;
}
.payment-history__row-status {
    flex: 0 0 150px;
}
.payment-history__row-summary {
    flex: 0 0 130px;
}
.rub {
}
.payment-history__row-user {
    flex: 0 0 190px;
}
.payment-history__row-tariff {
    flex: 0 0 270px;
}
.payment-history__row-bank_id {
    flex-grow: 10;
}
/* =PAYMENT= */


.list-projects__items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.project-item {
    width:calc(100% / 4 - 10px);
    background-color: #fff;
    border-radius: 10px;
    padding:15px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    transition: box-shadow .2s linear;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
}
.project-item:hover{
    box-shadow: 0px 0px 10px 6px rgba(254,94,0,.1);
}
.project-item.hovered{
    box-shadow: 0px 0px 10px 6px rgba(254,94,0,.1);
}
.project-item__img {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:270px;
    border-radius: 10px;
}
.project-item__img img{
    border-radius: 10px;
    width: 100%;
}
.project-item__status {
    position: absolute;
    right:10px;bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding:5px;
    font-size: 14px;
    z-index: 1;
}
.project-item__btns{
    margin-top: auto;
}
.project-item__status.active{
    color: rgb(255,193,7);
}
.project-item__status.completed{
    color: rgba(80,200,120, 1);
}
.project-item__status.canceled{
    color: rgba(244,4,0, 1);
}
.project-item__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 1 auto;
    margin-top: 15px;
}
.project-item__carousel{
    display: flex;
    flex: 1 1 auto;
    position: relative;
}
.project-item__carousel--carousel{
    flex: 1 1 auto;
    display: block;
    max-height: 270px;
    overflow: hidden;
    margin-bottom: 15px;
}
.project-item__carousel--carousel.owl-loaded {
    overflow: unset;
}
.project-item__title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.project-item__subtitle{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 14px;
}
.project-item__left{
    margin-bottom: 12px;
}
.project-item__left .line{
    margin-bottom: 6px;
    background-color: var(--pale);
    border-bottom: none;
    height:6px;
}
.project-item__left .line__val{
    background-color: var(--primary);
    height:6px;
}
.project-item__participants {
    font-size: 16px;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 14px;
    display: block;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.project-item__country {
    position: absolute;
    right:10px;top:30px;
    background-color: #fff;
    border-radius: 5px;
    padding:5px;
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}
.project-item__format{
    position: absolute;
    background-color: var(--pale);
    font-size: 14px;
    padding:5px;
    border-radius: 5px;
    left: 10px;top:30px;
    cursor: pointer;
    color:rgba(0, 0, 0, .4);
}
.project-item__format .project-item__format-tooltip{
    position: absolute;
    padding:10px 5px;
    border-radius: 5px;
    display: none;
    background-color: #fff;
    width:215px;
    left:0;
    color:#000;
    margin-top: 10px;
}
.project-item__format .project-item__format-tooltip p::before{
    content:"";
    display: block;

}
.project-item__format:hover .project-item__format-tooltip{
    display: block;
}
.project-item__btns>.btn {
    display: block;
    text-align: center;
}
.project-item__format-tags{
    gap: 8px;
    margin-bottom: 20px;
}

.loader-wrap{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
}
.loader {
width: 48px;
height: 48px;
border-radius: 50%;
position: relative;
animation: rotate 1.6s linear infinite
}
.loader::before , .loader::after {
content: "";
box-sizing: border-box;
position: absolute;
inset: 0px;
border-radius: 50%;
border: 5px solid #222222;
animation: prixClipFix 2.4s linear infinite ;
}
.loader::after{
border-color: #FF3D00;
animation: prixClipFix 2.4s linear infinite , rotate 0.8s linear infinite reverse;
inset: 6px;
}
@keyframes rotate {
0%   {transform: rotate(0deg)}
100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.referal__body{
background-color: rgba(0,0,0,0);
padding: 0;
}
.referal__tabs{
display: flex;
font-size: 18px;
font-weight: 600;
margin-bottom: 15px;
padding: 10px 15px;
background-color: #fff;
}
.referal__tabs .referal__tab{
padding:10px 15px;
border-bottom:1px solid rgba(0,0,0,0);
transition: all .2s linear;
cursor: pointer;
}
.referal__tabs .referal__tab:hover{
color:var(--primary);
border-color: var(--primary);
}
.referal__tabs .referal__tab.active{
color:var(--primary);
border-color: var(--primary);
}

.referal__content{
padding: 10px 15px;
background-color: #fff;
}

.summary-referal{
display: flex;
flex-direction: column;
font-size: 18px;
font-weight: 500;
margin-bottom: 25px;
}
.summary-referal__item:not(:last-child){
margin-bottom: 10px;
}

.table{
font-size: 15px;
font-weight: 500;
margin-bottom: 40px;
}
.table__head{
display: flex;
flex-direction: column;
}
.table__row{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
.table__col{
text-align: center;
padding:10px;
border:1px solid #EDE3E3;
display: flex;
justify-content: center;
align-items: center;
}
.table__btns{
display: flex;
gap: 10px;
}



@media(max-width:835px){
.header__nav{
    display: none;
}
.header__profile-header{
    display: none;
}
.burger{
    display: block;
}
.header__logo-w{
    margin-right: auto;
}
.view-project__img{
    height:420px;
}
}
@media(max-width:880px){

}
@media(max-width:786px){

.card__stats-stats{
    flex-direction: row;
}
.seller-item .card__stats-stats{
    flex-direction: column;
}
}
@media(max-width:760px){
.card__column:first-child{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 9px;
    padding-top: 12px;
}
.card__column:first-child .card__column-head{
    min-width: 100px;
    width: 100px;
}
.card__column--gender{
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100% !important;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.card__diagram-line{
    width: 82%;
}
.card__diagram-row{
    justify-content: space-between;
}
}
@media(max-width:675px){
.card{
    width: 100%;
}
.card__stats-item{
    width:50%;
    height:unset;
    justify-content: space-between;
}
}
@media(max-width:545px){
.title{
    font-size: 28px;
}


}
@media(max-width:475px){
.title{
    font-size: 24px;
}
.card__column--gender{
    margin-bottom: 0;
}
.card__stats-title{
    font-size: 12px;
}
.card__stats-val{
    font-size: 14px;
}
.card__desc{
    font-size: 16px;
}
.card__stats-stats{
    gap: 10px;
}
.card__stats-row{
    gap: 10px;
    width: 50%;
    flex-direction: column;
}
.seller-item .card__stats-row{
    flex-direction: row;
    width: 100%;
}

.card{
    min-width: unset;
}
}
@media(max-width:447px){
.input-checkbox-w{
    padding:10px 20px
}
}
