/*================================================

General

================================================*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "TildaSans";
    src: local("TildaSans-Medium"), url("../fonts/tilda-sans/TildaSans-Medium.ttf");
}
@font-face {
    font-family: "Pixel";
    src: local("Pixel"), url("../fonts/pixel/pixel-number.ttf");
}
@font-face {
    font-family: "PixelText";
    src: local("PixelText"), url("../fonts/pixel/pixel-text.ttf");
}
html,
body {
    height: 100%;
}

html {
    background: #222;
    background: radial-gradient(#333, #111);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    font-family: "TildaSans", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    position:relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*================================================


Score

================================================*/


/*================================================

Logo

================================================*/


.logo{
    position: fixed;
    right:45px;
    bottom:45px;
    width: 125px;
    height: 125px;
    opacity: .6;
}
.logo img{
    width: 100%;
}
@media(max-width:768px){
    .logo{
        width: 100px;
        height: 100px;
        bottom: 30px;
        right: 30px;
    }
}
@media(max-width:475px){
    .logo{
        width: 91px;
        height: 91px;
        bottom: 20px;
        right: 20px;
    }
}
@media(max-width:375px){
    .logo{
        right: 3px;
        bottom: 12px;
    }
}


/*================================================

Logo

================================================*/


/*================================================

Popup

================================================*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(0.6px);
    backdrop-filter: blur(0.6px);
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    overflow-y: auto;
    z-index: 9999;
    font-family: "PixelText", sans-serif;
    font-weight: 500;
    color: #EAEAEA;
}

.popup.--opened {
    display: flex;
}

.popup__content {
    max-width: 475px;
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 21px;
    padding-bottom: 42px;
    border-radius: 8px;
    border: 1px solid #8D8D8D;
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
}

.popup__header {
    margin-bottom: 24px;
}

.popup__title {
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.popup__body > p {
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
}
.popup__body > p > b.--gold{
    color:#D99101!important;
}
.popup__body > p > b.--red{
    color:#FF2F05!important;
}

.popup__body > p:not(:last-child) {
    margin-bottom: 8px;
}

.popup__body:not(:last-child) {
    margin-bottom: 38px;
}

.popup__footer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-btn {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100%;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    border: 0;
    outline: unset;
    color: #EAEAEA;
    font-size: 13px;
    font-weight: 500;
    width: 189px;
    display: block;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.popup-btn.primary{
    background-image: url(../images/snake/btn-primary-bg.png);
}
.popup-btn.secondary{
    background-image: url(../images/snake/btn-secondary-bg.png);
}

.popup-btn:hover {
}

.popup-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 25px;
    height: 100%;
    transition: all 300ms;
    opacity: 0;
}
.popup-btn.primary:before{
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255, 0.4),
        transparent
    );
}
.popup-btn.secondary:before{
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255, 1),
        transparent
    );
}

.popup-btn:hover:before {
    animation: linear 300ms shine-animation
}

.popup-btn.loading{
    background-color: #8E8E8E;
    pointer-events: none;
}
.popup-btn.loading::before{
    animation: linear 300ms shine-animation infinite forwards;
}


@keyframes shine-animation {
    0%{
        left: 3px;
        opacity: 0;
    }
    50%{
        opacity: 1;
        left:50%;
    }
    100%{
        left:calc(100% - 12px);
        opacity: 0;
    }
}

@media(max-width:475px){
    .popup__header {
        margin-bottom: 12px;
    }
    .popup__title{
        font-size: 18px;
    }
    .popup__body:not(:last-child){
        margin-bottom: 21px;
    }
    .popup__body > p {
        font-size: 12px;
    }
    .popup-btn{
        font-size: 12px;
    }
}

/*================================================

Popup

================================================*/
.score {
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 12px;
}

.score__num {
    align-self: center;
    font-family: "Pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}
.score__simple{
    font-size: 70px;
    line-height: 60px;
}
.score__bonus{
    font-size: 24px;
    color:#D99101;
    margin: 0;
}

.progress-bar{
    margin-left: auto;
    width: calc(100% - 550px);
    padding-top: 6px;
}
.progress-bar__items{
    display:flex;
    flex-direction: column;
    gap: 7px;
}
.progress-bar__main{
    display: flex;
    padding: 4px;
    gap: 6px;
    border-top: 0.45vw solid #8E8E8E;
    border-bottom: 0.45vw solid #8E8E8E;
    position: relative;
}
.progress-bar__main::before,
.progress-bar__main::after{
    content:'';
    width: 1vw;
    display: block;
    background-image: url('../images/snake/progress-border-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.progress-bar__main::before{
    left:-1vw;
}
.progress-bar__main::after{
    transform: rotate(180deg);
    right: -1vw;
}
.progress-bar__main-item{
    width: calc(100% / 16 - 3px);
    height: 1.85vw;
    background-color: #FF2F05;
    opacity: 0;
    transition: opacity .1s linear;
}

.progress-bar__bonus{
    display: flex;
    padding: 4px;
    gap: 6px;
    border-top: 0.3vw solid #8E8E8E;
    border-bottom: 0.3vw solid #8E8E8E;
    position: relative;
    width: 67.888%;
    transition: opacity .1s linear;
    opacity: 0;
}
.progress-bar__bonus::before,
.progress-bar__bonus::after{
    content: '';
    width: 0.74vw;
    display: block;
    background-image: url(../images/snake/progress-border-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.progress-bar__bonus::before{
    left:-0.74vw;
}
.progress-bar__bonus::after{
    transform: rotate(180deg);
    right: -0.74vw;
}
.progress-bar__bonus-item{
    width: calc(10% - 1px);
    height: 1.3vw;
    background-color: #D99101;
    transition: opacity .1s linear;
}

.question {
    width: 64px;
    height: 64px;
    cursor: pointer;
    align-self: center;
}
.question img {
    width: 100%;
}

@media(max-width:768px){
    .question {
        width: 42px;
        height: 42px;
    }
    .score__simple{
        font-size: 48px;
        line-height: 38px;
    }
    .score__bonus{
        font-size: 20px;
    }
    .progress-bar{
        width: calc(100% - 275px);
    }

}
@media(max-width:475px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .stage{
        margin: 0 auto!important;
    }
    .score{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 18px;
        gap: 4px;
        padding-left: 2%;
        padding-right: 5%;
    }
    .question {
        width: 28px;
        height: 28px;
        align-self: unset;
    }
    .score__simple{
        font-size: 32px;
        line-height: 22px;
    }
    .score__bonus{
        font-size: 14px;
    }
    .progress-bar {
        width: 100%;
        order: 1;
    }
    .progress-bar__items {
        flex-direction: column-reverse;
        gap: 7px;
    }
    .progress-bar__main{
        padding: 3px;
        border-top: 0.8vw solid #8E8E8E;
        border-bottom: 0.8vw solid #8E8E8E;
        gap: 3px;
    }
    .progress-bar__main::before, .progress-bar__main::after{
        width: 1.4vw;
    }
    .progress-bar__main::before {
        left: -1.4vw;
    }
    .progress-bar__main::after {
        right: -1.4vw;
    }

    .progress-bar__bonus{
        padding: 3px;
        gap: 3px;
        border-top: 0.54vw solid #8E8E8E;
        border-bottom: 0.54vw solid #8E8E8E;
    }
    .progress-bar__bonus::before, .progress-bar__bonus::after{
        width: 1.25vw;
    }
    .progress-bar__bonus::before {
        left: -1.25vw;
    }
    .progress-bar__bonus::after {
        right: -1.25vw;
    }
}

@media(max-width:375px){
    .question {
        width: 22px;
        height: 22px;
    }
    .score__simple{
        font-size: 30px;
    }
    .score__bonus{
        font-size: 10px;
    }
    .progress-bar__main{
        gap: 2px;
        padding: 2px;
    }
    .progress-bar__main-item{
        height: 2.1vw;
    }
    .progress-bar__bonus{
        padding: 2px;
        gap: 2px;
    }
    .progress-bar__bonus-item{
        height: 1.45vw;
    }
    .progress-bar__bonus::before, .progress-bar__bonus::after{
        width: 1.1vw;
    }
    .progress-bar__bonus::before{
        left: -1.1vw;
    }
    .progress-bar__bonus::after{
        right: -1.1vw;
    }
}

/*================================================

Stage

================================================*/
.stage {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 2;
    margin: auto;
}

/*================================================

Tiles

================================================*/
.tile {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    transition-property: background, box-shadow, opacity, transform;
    transform: translateZ(0);
    transition-duration: 3000ms;
}

.tile:before {
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    transition: opacity 300ms;
}

.tile.path:before {
    opacity: 1;
}

.tile.up:before {
    border-bottom: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tile.down:before {
    border-top: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tile.left:before {
    border-right: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.tile.right:before {
    border-left: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

@media (max-width: 900px), (max-height: 900px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
        border-width: 3px;
    }
}
@media (max-width: 500px), (max-height: 500px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
        border-width: 2px;
    }
}
.tile.pressed {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    transition-duration: 0ms;
}

/*================================================

Fireworks

================================================*/
.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    opacity: 1;
}

@keyframes launchFirework {
    to {
        opacity: 0;
    }
}
@keyframes launchFirework1 {
    to {
        transform: translate(33px, -5px);
    }
}
.firework1 {
    animation: launchFirework 1177ms linear forwards, launchFirework1 720ms linear forwards;
}

@keyframes launchFirework2 {
    to {
        transform: translate(-78px, -94px);
    }
}
.firework2 {
    animation: launchFirework 610ms linear forwards, launchFirework2 908ms linear forwards;
}

@keyframes launchFirework3 {
    to {
        transform: translate(100px, -86px);
    }
}
.firework3 {
    animation: launchFirework 857ms linear forwards, launchFirework3 822ms linear forwards;
}

@keyframes launchFirework4 {
    to {
        transform: translate(22px, 17px);
    }
}
.firework4 {
    animation: launchFirework 1353ms linear forwards, launchFirework4 668ms linear forwards;
}

@keyframes launchFirework5 {
    to {
        transform: translate(-10px, 26px);
    }
}
.firework5 {
    animation: launchFirework 1267ms linear forwards, launchFirework5 1139ms linear forwards;
}

@keyframes launchFirework6 {
    to {
        transform: translate(-75px, 10px);
    }
}
.firework6 {
    animation: launchFirework 1115ms linear forwards, launchFirework6 1216ms linear forwards;
}

@keyframes launchFirework7 {
    to {
        transform: translate(-9px, -44px);
    }
}
.firework7 {
    animation: launchFirework 1204ms linear forwards, launchFirework7 1405ms linear forwards;
}

@keyframes launchFirework8 {
    to {
        transform: translate(-60px, 10px);
    }
}
.firework8 {
    animation: launchFirework 624ms linear forwards, launchFirework8 629ms linear forwards;
}

@keyframes launchFirework9 {
    to {
        transform: translate(-89px, 96px);
    }
}
.firework9 {
    animation: launchFirework 699ms linear forwards, launchFirework9 506ms linear forwards;
}

@keyframes launchFirework10 {
    to {
        transform: translate(-65px, 38px);
    }
}
.firework10 {
    animation: launchFirework 1096ms linear forwards, launchFirework10 785ms linear forwards;
}

@keyframes launchFirework11 {
    to {
        transform: translate(-42px, 52px);
    }
}
.firework11 {
    animation: launchFirework 1112ms linear forwards, launchFirework11 1200ms linear forwards;
}

@keyframes launchFirework12 {
    to {
        transform: translate(-57px, 85px);
    }
}
.firework12 {
    animation: launchFirework 967ms linear forwards, launchFirework12 1067ms linear forwards;
}

@keyframes launchFirework13 {
    to {
        transform: translate(-39px, -90px);
    }
}
.firework13 {
    animation: launchFirework 694ms linear forwards, launchFirework13 527ms linear forwards;
}

@keyframes launchFirework14 {
    to {
        transform: translate(-83px, -83px);
    }
}
.firework14 {
    animation: launchFirework 1118ms linear forwards, launchFirework14 1017ms linear forwards;
}

@keyframes launchFirework15 {
    to {
        transform: translate(63px, 94px);
    }
}
.firework15 {
    animation: launchFirework 563ms linear forwards, launchFirework15 1048ms linear forwards;
}

@keyframes launchFirework16 {
    to {
        transform: translate(16px, 46px);
    }
}
.firework16 {
    animation: launchFirework 1003ms linear forwards, launchFirework16 1203ms linear forwards;
}

@keyframes launchFirework17 {
    to {
        transform: translate(72px, -6px);
    }
}
.firework17 {
    animation: launchFirework 579ms linear forwards, launchFirework17 1013ms linear forwards;
}

@keyframes launchFirework18 {
    to {
        transform: translate(75px, -55px);
    }
}
.firework18 {
    animation: launchFirework 868ms linear forwards, launchFirework18 642ms linear forwards;
}

@keyframes launchFirework19 {
    to {
        transform: translate(65px, -16px);
    }
}
.firework19 {
    animation: launchFirework 616ms linear forwards, launchFirework19 646ms linear forwards;
}

@keyframes launchFirework20 {
    to {
        transform: translate(-85px, 65px);
    }
}
.firework20 {
    animation: launchFirework 1134ms linear forwards, launchFirework20 734ms linear forwards;
}

@keyframes launchFirework21 {
    to {
        transform: translate(11px, 81px);
    }
}
.firework21 {
    animation: launchFirework 700ms linear forwards, launchFirework21 842ms linear forwards;
}

@keyframes launchFirework22 {
    to {
        transform: translate(17px, -88px);
    }
}
.firework22 {
    animation: launchFirework 1428ms linear forwards, launchFirework22 809ms linear forwards;
}

@keyframes launchFirework23 {
    to {
        transform: translate(-70px, -84px);
    }
}
.firework23 {
    animation: launchFirework 1122ms linear forwards, launchFirework23 918ms linear forwards;
}

@keyframes launchFirework24 {
    to {
        transform: translate(-12px, -44px);
    }
}
.firework24 {
    animation: launchFirework 1303ms linear forwards, launchFirework24 982ms linear forwards;
}

@keyframes launchFirework25 {
    to {
        transform: translate(9px, -34px);
    }
}
.firework25 {
    animation: launchFirework 1046ms linear forwards, launchFirework25 1395ms linear forwards;
}

@keyframes launchFirework26 {
    to {
        transform: translate(-77px, -80px);
    }
}
.firework26 {
    animation: launchFirework 602ms linear forwards, launchFirework26 997ms linear forwards;
}

@keyframes launchFirework27 {
    to {
        transform: translate(36px, 34px);
    }
}
.firework27 {
    animation: launchFirework 904ms linear forwards, launchFirework27 740ms linear forwards;
}

@keyframes launchFirework28 {
    to {
        transform: translate(44px, 78px);
    }
}
.firework28 {
    animation: launchFirework 951ms linear forwards, launchFirework28 941ms linear forwards;
}

@keyframes launchFirework29 {
    to {
        transform: translate(38px, 0px);
    }
}
.firework29 {
    animation: launchFirework 687ms linear forwards, launchFirework29 818ms linear forwards;
}

@keyframes launchFirework30 {
    to {
        transform: translate(74px, 75px);
    }
}
.firework30 {
    animation: launchFirework 806ms linear forwards, launchFirework30 1358ms linear forwards;
}

@keyframes launchFirework31 {
    to {
        transform: translate(75px, -83px);
    }
}
.firework31 {
    animation: launchFirework 935ms linear forwards, launchFirework31 726ms linear forwards;
}

@keyframes launchFirework32 {
    to {
        transform: translate(-43px, -34px);
    }
}
.firework32 {
    animation: launchFirework 613ms linear forwards, launchFirework32 1268ms linear forwards;
}

@keyframes launchFirework33 {
    to {
        transform: translate(-57px, 78px);
    }
}
.firework33 {
    animation: launchFirework 571ms linear forwards, launchFirework33 1369ms linear forwards;
}

@keyframes launchFirework34 {
    to {
        transform: translate(54px, -27px);
    }
}
.firework34 {
    animation: launchFirework 952ms linear forwards, launchFirework34 700ms linear forwards;
}

@keyframes launchFirework35 {
    to {
        transform: translate(-33px, 77px);
    }
}
.firework35 {
    animation: launchFirework 781ms linear forwards, launchFirework35 1449ms linear forwards;
}

@keyframes launchFirework36 {
    to {
        transform: translate(-28px, -14px);
    }
}
.firework36 {
    animation: launchFirework 876ms linear forwards, launchFirework36 924ms linear forwards;
}

@keyframes launchFirework37 {
    to {
        transform: translate(76px, -43px);
    }
}
.firework37 {
    animation: launchFirework 689ms linear forwards, launchFirework37 1095ms linear forwards;
}

@keyframes launchFirework38 {
    to {
        transform: translate(-21px, 26px);
    }
}
.firework38 {
    animation: launchFirework 1440ms linear forwards, launchFirework38 1285ms linear forwards;
}

@keyframes launchFirework39 {
    to {
        transform: translate(-41px, -36px);
    }
}
.firework39 {
    animation: launchFirework 899ms linear forwards, launchFirework39 963ms linear forwards;
}

@keyframes launchFirework40 {
    to {
        transform: translate(54px, -64px);
    }
}
.firework40 {
    animation: launchFirework 830ms linear forwards, launchFirework40 998ms linear forwards;
}

@keyframes launchFirework41 {
    to {
        transform: translate(-70px, 89px);
    }
}
.firework41 {
    animation: launchFirework 1047ms linear forwards, launchFirework41 1017ms linear forwards;
}

@keyframes launchFirework42 {
    to {
        transform: translate(-2px, 43px);
    }
}
.firework42 {
    animation: launchFirework 834ms linear forwards, launchFirework42 1398ms linear forwards;
}

@keyframes launchFirework43 {
    to {
        transform: translate(-69px, -35px);
    }
}
.firework43 {
    animation: launchFirework 689ms linear forwards, launchFirework43 812ms linear forwards;
}

@keyframes launchFirework44 {
    to {
        transform: translate(6px, -6px);
    }
}
.firework44 {
    animation: launchFirework 537ms linear forwards, launchFirework44 1291ms linear forwards;
}

@keyframes launchFirework45 {
    to {
        transform: translate(-88px, 43px);
    }
}
.firework45 {
    animation: launchFirework 1306ms linear forwards, launchFirework45 984ms linear forwards;
}

@keyframes launchFirework46 {
    to {
        transform: translate(69px, 13px);
    }
}
.firework46 {
    animation: launchFirework 1473ms linear forwards, launchFirework46 1068ms linear forwards;
}

@keyframes launchFirework47 {
    to {
        transform: translate(52px, 29px);
    }
}
.firework47 {
    animation: launchFirework 1124ms linear forwards, launchFirework47 922ms linear forwards;
}

@keyframes launchFirework48 {
    to {
        transform: translate(13px, 94px);
    }
}
.firework48 {
    animation: launchFirework 1442ms linear forwards, launchFirework48 1162ms linear forwards;
}

@keyframes launchFirework49 {
    to {
        transform: translate(-92px, -71px);
    }
}
.firework49 {
    animation: launchFirework 1079ms linear forwards, launchFirework49 1075ms linear forwards;
}

@keyframes launchFirework50 {
    to {
        transform: translate(91px, -7px);
    }
}
.firework50 {
    animation: launchFirework 1006ms linear forwards, launchFirework50 1128ms linear forwards;
}

/*# sourceMappingURL=app.css.map */
